page-home {

    .background{
        background-image: url('../assets/imgs/panda/panda2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
   

}
